:root {
    --font-family: "Roboto", "Arial";
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;

    --black: #000;
    --white: #fff;
    --dark: #2e3130;
    --dark2: #4c5150;
    --orange: #ff8a00;
    --gray: #c4c4c4;
    --gray2: #0000000f;
    --gray3: rgba(0, 0, 0, 0.83);
    --gray4: rgba(0, 0, 0, 0.08);
    --gray-svg: #6d6e76;

    --transition: all 0.3s ease;
    --button-pressed: scale(0.9);
}

.app.light {
    --bg-color: var(--white);
    --text-color: var(--black);
    --border-color: var(--gray);
    --input-color: var(--white);
    --main-color: var(--orange);
    --input-bg: var(--white);
    --shadow-color: var(--gray4);

    --tag-button-text: var(--black);
    --tag-button-bg: var(--gray2);
    --tag-button-text-active: var(--white);
    --tag-button-bg-active: var(--black);

    --button-bg: var(--orange);

    --burger-bg: var(--gray);

    --footer-company: var(--gray);
    --footer-text: var(--gray3);
    --footer-svg: var(--gray-svg);
}

.app.dark {
    --bg-color: var(--dark);
    --text-color: var(--white);
    --border-color: var(--gray);
    --input-color: var(--white);
    --main-color: var(--white);
    --input-bg: var(--dark);
    --shadow-color: var(--gray4);

    --tag-button-text: var(--black);
    --tag-button-bg: var(--white);
    --tag-button-text-active: var(--black);
    --tag-button-bg-active: var(--gray);

    --button-bg: var(--orange);

    --burger-bg: var(--dark);

    --footer-company: var(--white);
    --footer-text: var(--white);
    --footer-svg: var(--white);
}
