@import "@styles/nullstyle.scss";
@import "@constants/styles.scss";

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}


@keyframes shimmer {
    from {
        background-position: 120%, 120%;
    }
    to {
        background-position: 0, 0;
    }
}
