@import "@styles/nullstyle.scss";
@import "@constants/styles.scss";

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--gray);
    // border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 8px;
}

@keyframes shimmer {
    from {
        background-position: 120%, 120%;
    }
    to {
        background-position: 0, 0;
    }
}
